Source: yggotine
Section: net
Priority: optional
Maintainer: Nicotine+ Team <nicotine-team@lists.launchpad.net>
Standards-Version: 4.7.4.1
Build-Depends: debhelper-compat (= 10),
               devscripts,
               dh-python,
               gettext,
               gir1.2-gtk-4.0 (>= 4.6.9) | gir1.2-gtk-3.0 (>= 3.24.24),
               libgtk-4-bin (>= 4.8.0) | python3-pytest-xvfb (>= 2.0.0) | libgtk-3-bin (>= 3.24.24),
               lintian,
               python3-all,
               python3-gi,
               python3-pytest,
               python3-setuptools
Vcs-Git: https://github.com/Cosebdd/Yggotine-plus.git
Vcs-Browser: https://github.com/Cosebdd/Yggotine-plus
X-Python3-Version: >= 3.10
Homepage: https://github.com/Cosebdd/Yggotine-plus
Rules-Requires-Root: no

Package: yggotine
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         gir1.2-gtk-4.0 (>= 4.6.9) | gir1.2-gtk-3.0 (>= 3.24.24),
         python3-gi,
         python3-gi-cairo
Recommends: gir1.2-gspell-1
Description: graphical client for Soulseek peer-to-peer network over IPv6
 Yggotine+ is a graphical client for the Soulseek peer-to-peer network,
 forked from Nicotine+ to support IPv6 exclusively.
 .
 Share files, chat, and find people with similar interests. It is
 user-friendly, fast, free, and open source, and interoperates with
 other Soulseek clients reachable over IPv6.

